[submodule "projects/fireflies"]
	path = projects/fireflies
	url = https://github.com/oampo/fireflies
	branch = master
[submodule "projects/yolk"]
	path = projects/yolk
	url = https://github.com:oampo/yoke-designer
	branch = master
[submodule "projects/siren-song"]
	path = projects/siren-song
	url = https://github.com:oampo/siren-song.git
	branch = master
